header{
    text-align: center;
    color: black;
    height: 60px;
    background-color: #CC7722;
    width: 100%;
    margin-top: 0%;
}

.about{
    text-align: center;
    margin-top: 80px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 1s ease forwards;
    font-size: 60px;
}
@keyframes fadeUp{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CC7722;
    width: 100%;
    padding: 15px 0;
    gap: 20px;
    margin-top: 20%;
}
.social img{
    height: 20px;
}
img:hover{
    transform: scale(1.5);
}
header{
    background-color: #CC7722;
    width: 100%;
    padding-bottom: 20px;
}
.menu{
    padding-top: 30px;
    text-align: center;
    padding-left: 10px;
    justify-content: center;
}
nav a:hover{
    color: black;
}
main{
    flex: 1;
}
body{
    margin: 0;
}